.Driwing{
    width: 33%;
   background-color: rgb(78, 78, 78);
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 66%;  
}
.CabezaL{
    width: 100px;
    height: 120px;
    background-color: black;
    border-radius: 50px 50px 10% 10%;
}
.OjosLi{
    display: flex;
    padding: 0;
}
.OjoL1{
    background-color: rgb(131, 131, 131);
    width: 35px;
    height: 45px;
    border-radius: 50%;
    transform: rotate(-20deg);
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}
.OjoL1::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    top: 10px;
    left: 5px;
}
.OjoL1::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(131, 131, 131);
    top: 63%;
    left: 13px;
    z-index: 1;
   
}
.OjoL2{
    background-color: rgb(131, 131, 131);
    width: 35px;
    height: 45px;
    border-radius: 50%;
    transform: rotate(20deg);
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}
.OjoL2::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    top: 10px;
    left: 5px;
}
.OjoL2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(131, 131, 131);
    top: 63%;
    left: 13px;
    z-index: 1;
   
}
.Pico{
    background-color: rgb(243, 130, 1);
    width: 40px;
    height: 45px;
    margin-left: 28px;
    transform: rotate(45deg);
    border-radius: 10px 0 20px 0;
    position: absolute;
    z-index: 1;
}
.Pico::after{
    background-color: rgb(243, 130, 1);
    border-bottom: 10px double black;
    content: "";
    width: 40px;
    height: 20px;
    left: 2px;
    position: absolute;
    border-radius: 50px 0 100px 100px;
    transform: rotate(-45deg);
    top: 10px;
}
.CuerpoL{
    width: 150px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-radius: 50px 50px 10px 10px;
    margin-top: -10px;
    position: relative;
}
.CuerpoL::after{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    position: absolute;
    content: "";
    transform: rotate(-58deg);
    border-radius: 50% 10px 0 50px;
    left: -65px;
    top: 40px;
}
.CuerpoL::before{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    position: absolute;
    content: "";
    transform: rotate(58deg);
    border-radius: 10px 50% 50px 0;
    right: -60px;
    top: 35px;
}
.PiesL{
    position: relative;
}
.pie1L{

    border-radius: 50% 50% 10px 10px;
    background-color: rgb(243, 130, 1);
    transform: rotate(120deg);
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
    right: 10px;
}
.pie2L{

    border-radius: 50% 50% 10px 10px;
    background-color: rgb(243, 130, 1);
    transform: rotate(-120deg);
    position: absolute;
    width: 80px;
    height: 80px;
    left: 63%;
    top: 55%;
}
.BrazosL1{
    background-color: rgb(49, 4, 4);
    width: 20px;
    height: 220px;
    position: absolute;
    right: 190px;
    border-radius: 20px;
    z-index: 1;
}
.BrazosL2{
    background-color: black;
    width: 20px;
    height: 100px;
    position: absolute;
    transform: rotate(50deg);
    margin-top: 0px;
    right: 150px;
    border-radius: 30%;
}
.BrazosL1::before{
    content: "";
    background-color: rgb(3, 3, 3);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50px;
    top: -25px;
    left: -15px;
    border: 1px dashed red;
}
.TextoL{
    position: absolute;
    margin-top: 400px;
}