
header{
    background-image: linear-gradient(rgb(0, 0, 0, .3), rgb(0,0,0,.7)),url("../Img/FondoLanden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.Logo-Menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: antiquewhite;
}
.Logo{
    position: relative;
    padding: 20px;
}
.Logo > p {
    position: absolute;
}
.Landing{
    top: 60px;
    color: rgb(255, 255, 255);
}
.one{
    background:linear-gradient(rgb(253, 0, 0, .5), rgb(255, 255, 255, .3));
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -5px;
    right: -90px;
}
.Two{
    background: linear-gradient(rgb(5, 5, 255, .7), rgb(0, 0, 0, .2));
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
}
.Three{
    background:linear-gradient(rgb(248, 153, 10), rgb(0, 0, 0, .8) );
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 55px;
    left: 65px;
}
.Title{
    margin-top: 15%;
    margin-left: 10%;
    text-align: center;
   }
   
   ul, li{
       list-style: none;
       display: inline;
       line-height: 20px;
       padding: 25px;
   }
   h1{
       color: rgb(255, 255, 255);
       font-size: 20px;
       font-family: 'Courier New', Courier, monospace;    
   }
   h3{
       color: rgb(255, 255, 255);
       font-size: 20px;
       font-family: 'Courier New', Courier, monospace;
       margin-bottom: 50px;
   }
   
.btn{
    text-decoration: none;
    padding: 20px;
    border-radius: 200px;
}
.btn-info{
    background:linear-gradient(rgb(252, 252, 6, .7), rgb(34, 32, 32));
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
.btn:hover{
    background:linear-gradient(rgb(252, 252, 6), rgb(34, 32, 32, 0.7));   
}

ul li:hover{
    border-bottom: 2px solid rgb(252, 252, 6, .7);
    
}

/*Section about**/
.About{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 100vh;
}
.Context{
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.first-text{
    font-size: 30px;
    box-shadow: 5px, 5px, 5px black;
}
.ReadMore{
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border: 1px solid rgb(255, 5, 5, .7);
    width: 200px;
    padding: 15px;
    border-radius: 200px;
}
.ReadMore:hover{
    background-color: rgb(255, 5, 5, .7);
    color: antiquewhite;
    transition: 1s;
}
.Img{
    justify-content: center;
    margin-top: 120px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.Img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/*Section skills*/
.skilss{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Titulo{
    align-items: center;
    text-align: center;
}
.skill{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.skills-about{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
}
.skills-about::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: brown;
    margin-bottom: red;
}
.ContentImagenes img{
    width: 200px;
    height: 220px;
}
.ContentImagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.imganimation{
    display: flex;
    justify-content: center;
    align-items: center;
}