*{
    padding: 0;
    margin: 0;
}

.Container{
    width: 100%;
    height: 100vh;
    background-color: blue;
    overflow: hidden;
    perspective: 50px;
}
.Container__Circle{
    background-color: red;
    width: 100%;
    border: 1px solid black;
    height: 300px;
    position: absolute;
    clip-path: circle(8% at 50% 50%);
    height: 100vh;
    transition: all 2s;
    animation: Faro 10s infinite;

}
.Container__Circle:hover{
    
    animation: Faro 10s infinite;

}
@keyframes Faro{
    50%{
        transform: rotateY(180deg); 
    }

}