header{
    background-color: rgb(24, 23, 23);
    background-repeat: no-repeat;
    background-position: initial;
    margin: 10px;
    padding: 20px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
}
.Logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
}
p{
    font-family: 'Comforter', cursive;
    font-size: 15px;
    color: rgb(255, 253, 253);   
    
}
.Grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 350px 200px; 
    margin: 20px;
    color: antiquewhite;
    gap: 1em;
 }
 .Grid > div{
    
 }
 .item1, .item2, .item3, .item7, .item8, .item9{
     background-color: rgb(255, 255, 255);
     border: 0.5px solid black;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     color: rgb(5, 3, 1);
 }
 .item4{
     grid-column: 4/4;
     grid-row: 1/4;
     background-color: rgb(107, 212, 55);
     justify-content: center;
     justify-items: center;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     line-height: 2em;
 }
 .item5{
     grid-column: 1/4;
     background-color: rgb(255, 255, 255);
     background-image: url("../Img/Procesos.JPG");
     background-repeat: no-repeat;
     background-position: initial;
     background-size: cover;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
 }
 .Init{
     display: flex;
     justify-content: space-between;
     margin: 20px;
 }

 ul > li {
     list-style: none;
     padding: 3px;
 }
 img{
     width: 25px;
     height: 25px;
     border-radius: 50%;
 }

