*{
    padding: 0;
    margin: 0;
}

/*Variables en Scss*/
$ColoresPrimarios:rgb(34, 34, 194);
$ColoresSegundarios:rgb(2, 223, 252);
$FuenteDoc:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$ColorFondo: #121f32;

/*Colores de las tipografias*/

$ColorMenu:rgb(255, 255, 255);
$ColoresTitulos:rgb(0, 37, 247);
$ColoresContenido:black;