@mixin TarjetasMenu{
    width: 50%;
    height: 100%;
    font-family: $FontGoogle;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    float: right;
}
.Bebidas{
    width: 100%;
    height: 100vh;
    background-image: url("../img/BebidasFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__Title{
        width: 100%;
        text-align: center;
        color:yellow;
        font-family: $FontGoogle;
        font-size: 40px;
    }
    &__TitleMain{
        margin-top: 35px;
    }
}
.Catalogo{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
   

    &__Cocteles{
        width: 600px;
        height: 450px;
        margin: 20px;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: all 5s;
    }
    &__Cocteles__PaginaUno{
        width: 100%;
        height: 100%;
        transition: 5s;
    }
    &__Cocteles__PaginaDos{
        width: 100%;
        height: 100%;
        transition: 5s;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    &__Cocteles__PaginaTres{
        width: 100%;
        height: 100%;
        transition: 5s;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    &__Cocteles__PaginaCuatro{
        width: 100%;
        height: 100%;
        transition: 5s;
        position: absolute;
        top: 0;
        z-index: -3;
    }
    &__BebidasNormales{
        width: 600px;
        height: 450px;
        margin: 20px;
        background-color: rgb(173, 173, 175);
    }
}
.ContenidoPaginaUno{
    @include TarjetasMenu;
    background-image: url("../img/FondoCocteles.jpg");
    color: $NeutralColor;
    z-index: 1;
    &__Titulo0{
        font-size: 30px;
        color: yellow;
    }
    &__Btn{
        width: 120px;
        height: 50px;
        border-radius: 50px;
        background-color: yellow;
        border: none;
        font-family: $FontGoogle;
        font-size: 10px;
    }
}
.ContenidoPaginaDos{
    @include TarjetasMenu;
    background-image: url("../img/FondoCoctelMargarita.jpg");
    &__Btn{
        width: 120px;
        height: 50px;
        border-radius: 50px;
        background-color: yellow;
        border: none;
        font-family: $FontGoogle;
        font-size: 10px;
    }
}
.ContenidoPaginaTres{
    @include TarjetasMenu;
    background-image: url("../img/FondoCoctelMojito.jpg");
    &__Btn{
        width: 120px;
        height: 50px;
        border-radius: 50px;
        background-color: yellow;
        border: none;
        font-family: $FontGoogle;
        font-size: 10px;
    }
}
.ContenidoPaginaCuatro{
    @include TarjetasMenu;
}

.EfectoHoja{
    transform: rotateY(-140deg);
    transition: 5s;
}