@mixin TarjetasMenu{
    font-family: $FontGoogle;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.Bebidas{
    width: 100%;
    height: 100vh;
    background-image: url("../img/BebidasFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__Title{
        width: 100%;
        text-align: center;
        color:yellow;
        font-family: $FontGoogle;
        font-size: 40px;
    }
    &__TitleMain{
        margin-top: 35px;
    }
}

.Catalogo{
    width: calc(100% - 60px);
    height: 80%;
    background-color: red;
    margin: 0px 0px 0px 2%;
    padding: 20px;
    &__Cocteles{
       background-color: blue;
       width: 45%;
       height: 80%; 
       padding: 10px;
       perspective: 1000px;
    }
    &__Cocteles__Contenido{
        width: calc(100% - 30px);
        height: 95%;
        position: absolute;
        padding: 10px;
        perspective: 1000px;
        transition: 5s;
        transform-style: preserve-3d;
    }
    &__Cocteles__Paginas{
        width: calc(100% - 20px);
        height: 95%;
        position: absolute;
        transform-style: preserve-3d;
    }
    &__Cocteles__Paginas__Frontend{
        backface-visibility: hidden;
    }
    &__Cocteles__Paginas__Backend{
      transform: rotateY(180deg);
      backface-visibility: hidden;

    }
}
.ContenidoPaginas{
    &__Front{
        width: 50%;
        height: 100%;
        float: right;
        background-color: rgb(145, 255, 0);
    }
    &__Back{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 183, 25);
    float: left;
    
   }
}

.Catalogo__Cocteles{
    &__Contenido0{
        
    }
    &__Contenido1{
        
    }
    &__Contenido2{
       
    }
}

.EfectoHoja{
    transform: rotateY(-140deg);
    transition: 5s;
}